@import '../../globalscss/global.scss';
.about {
  background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
  min-height: 100vh;
  span {
    font-style: italic;
    color: var(--about_color);
  }
  .about_section1 {
    height: 100vh;
    background: url('../../assets/images/about.jpg') center/cover no-repeat;
    position: relative;

    .content {
      @include flex(row, center, center, 0px);
      width: 80%;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
      backdrop-filter: blur(4px);
      background-color: #eaeaea49;
      border-radius: 20px;
      position: absolute;
      top: 250px;
      h1 {
        font-size: 5rem;
        @include responsive(440px) {
          font-size: 3.5rem;
          text-align: center;
        }
        @include responsive(440px) {
          font-size: 3rem;
        }
      }
    }
  }
  .about_section2 {
    border-radius: 20px;
    @include flex(column, null, null, 0px);

    h2 {
      text-align: center;
      margin: 50px 0px;
      font-size: 3rem;
      @include responsive(540px) {
        font-size: 2.5rem;
      }
    }
    .section2_content {
      border-radius: 20px;
      @include flex(row-reverse, center, center, 20px);
      padding: 20px 30px;
      flex: 1;
      @include responsive(800px) {
        @include flex(column, center, center, 20px);
      }
      @include responsive(540px) {
        padding: 10px;
      }
      .left {
        flex: 1;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 10px;
          box-shadow: 0px 0px 15px var(--about_color);
          @include responsive(540px) {
            height: 300px;
          }
        }
      }
      .right {
        flex: 1;
        p {
          font-size: 1.2rem;
          line-height: 36px;
          text-align: center;
          color: rgb(103, 95, 54);
          @include responsive(540px) {
            line-height: 28px;
            font-size: 1.1rem;
            text-align: justify;
          }
          @include responsive(350px) {
            line-height: 24px;
            font-size: 1rem;
          }
        }
      }
    }
  }
  .about_section3 {
    padding-bottom: 20px;
    @include flex(column, null, null, 0px);
    @include responsive(700px) {
      margin-bottom: 100px;
    }
    @include responsive(500px) {
      margin-bottom: 200px;
    }
    @include responsive(375px) {
      margin-bottom: 300px;
    }

    @include responsive(316px) {
      margin-bottom: 500px;
    }
    @include responsive(255px) {
      margin-bottom: 600px;
    }
    @include responsive(235px) {
      margin-bottom: 700px;
    }
    @include responsive(216px) {
      margin-bottom: 900px;
    }
    h2 {
      font-size: 3rem;
      text-align: center;
      margin: 50px 0px;
      @include responsive(540px) {
        font-size: 2.5rem;
      }
    }
    .section3_content {
      display: grid;
      grid-template-columns: 300px 300px;
      justify-content: center;
      gap: 120px;
      @include responsive(767px) {
        grid-template-columns: 40% 40%;
        gap: 60px;
      }
      @include responsive(400px) {
        grid-template-columns: 80%;
      }

      .members {
        overflow: hidden;
        @include flex(column, null, center, 10px);
        margin: 0;
        .top {
          margin: 0;
          img {
            border-radius: 5px;
            height: 100%;
            width: 100%;
            object-fit: cover;
            box-shadow: 0px 0px 11px rgb(103, 95, 54);
            transition: transform ease 500ms;
            &:hover {
              transform: scale(1.04);
            }
          }
        }
        .bottom {
          text-align: center;
          h3 {
            font-size: 1.6rem;
            color: rgb(103, 95, 54);
            font-weight: bold;
            @include responsive(375px) {
              font-size: 1.4rem;
            }
          }
          p {
            font-size: 1.1rem;
            @include responsive(375px) {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
  .about_section4 {
    height: 100vh;
  }
}
