@import "../../globalscss/global.scss";
.blog {
	background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
	min-height: 100vh;
	padding: 20px;
	.blog-top {
		text-align: center;
		height: 50vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@include responsive(1200px) {
			height: 25vh;
		}
		@include responsive(950px) {
			height: 30vh;
		}
		h1 {
			font-size: 45px;
			margin-bottom: 10px;
			@include responsive(600px) {
				font-size: 30px;
				margin-bottom: 5px;
			}
		}
		p {
			font-size: 25px;
			@include responsive(600px) {
				font-size: 18px;
			}
		}
	}
	.blog-section {
		display: flex;
		flex-direction: column;
		gap: 30px;
		.blog-item {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 50px;
			margin: 20px 80px;
			overflow: hidden;
			padding: 20px;
			@include responsive(600px) {
				flex-direction: column;
				margin: 10px;
			}
			@include responsive(950px) {
				margin: 20px;
			}
			.image-container {
				width: 40%;
				@include responsive(600px) {
					width: 100%;
				}
				img {
					width: 80%;
					height: auto;
					max-height: 300px;
					overflow: hidden;
					border-radius: 8px;
					object-fit: cover;
					@include responsive(600px) {
						width: 100%;
						height: 350px;
					}
					@include responsive(950px) {
						width: 100%;
						height: 200px;
					}
					@include responsive(1200px) {
						width: 100%;
						height: 250px;
					}
				}
			}
			.description {
				width: 40%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				@include responsive(600px) {
					width: 80%;
					align-items: center;
					text-align: center;
				}
				p {
					font-size: 20px;
					margin-bottom: 16px;
				}
				.read-btn {
					color: black;
					border: 1px solid black;
					padding: 10px 15px;
					font-size: 18px;
					width: 150px;
					background-color: none;
					cursor: pointer;
					&:hover {
						background-color: rgb(184, 181, 181);
					}
				}
			}
		}
	}
	.blog-bottom {
		height: 80vh;
		@include responsive(600px) {
			height: 130vh;
		}
	}
}