@import '../../globalscss/global.scss';

.internship {
  background: linear-gradient(to right, #e7d7b5, #e5bd8c);

  .section1 {
    margin-top: 8%;
    margin-bottom: 6%;
    height: 90vh;
    background: url('../../assets//images/int.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size:80%;

    @include responsive(767px) {
      background-size: 100%;
      height: 30vh;
      margin-top: 25%;
    }
  }

  .section2 {
    margin-bottom: 500px;
    display: flex;
    justify-content: center; 
    padding: 20px 10px;

    @include responsive(1156px) {
      margin-bottom: 700px;
    }
    @include responsive(767px) {
      margin-bottom: 800px;
    }
    @include responsive(500px) {
      margin-bottom: 900px;
    }
    @include responsive(373px) {
      margin-bottom: 1000px;
    }
    @include responsive(310px) {
      margin-bottom: 1100px;
    }
    @include responsive(277px) {
      margin-bottom: 1300px;
    }
    @include responsive(220px) {
      margin-bottom: 1400px;
    }
    @include responsive(206px) {
      margin-bottom: 1450px;
    }

    .card {
      background-color: rgb(255, 229, 205);
      border-radius: 20px;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
      padding: 30px;
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      margin-bottom: 5%;

      @include responsive(767px) {
        width: 90%;
        padding: 20px;
      }

      @include responsive(550px) {
        width: 95%;
        gap: 20px;
      }

      h1 {
        text-align: center;
        width: 80%;
        font-size: 3rem;

        @include responsive(767px) {
          font-size: 2rem;
        }
        @include responsive(550px) {
          font-size: 1.5rem;
        }
        @include responsive(450px) {
          font-size: 1rem;
        }
      }

      p {
        font-size: 1.3rem;
        line-height: 44px;
        text-align: center;
        width: 70%;

        @include responsive(767px) {
          font-size: 1.4rem;
        }
        @include responsive(550px) {
          font-size: 1.2rem;
          line-height: 34px;
        }
        @include responsive(450px) {
          font-size: 1.1rem;
          width: 96%;
        }
      }

      a {
        background-color: rgb(68, 80, 109);
        text-align: center;
        font-size: 1.2rem;
        padding: 20px 30px;
        color: white;
        border-radius: 10px;
        text-decoration: none;

        @include responsive(450px) {
          padding: 15px;
        }
      }
    }
  }

  .section3 {
    height: 100vh;
    
  }
}
