@mixin flex($dir, $justify, $align, $gap) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}
@mixin responsive($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}
